<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qu.modules.web.mapper.AnswerMapper">
    <select id="questionFillInListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) from  answer
    </select>

    <select id="questionFillInList" parameterType="java.util.Map" resultType="com.qu.modules.web.vo.AnswerVo">
        select
        a.id,
        a.qu_id quId,
        q.qu_name quName,
        q.qu_desc quDesc,
        a.creater,
        a.create_time createTime
        from  answer a
        left join question q on q.id=a.qu_id
        order by a.create_time desc
        limit #{startRow},#{pageSize}
    </select>
</mapper>