<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qu.modules.web.mapper.DrugReceiveHisMapper">

    <select id="queryPurposeByInput" resultType="com.qu.modules.web.entity.DrugReceiveHis">
        select * from drug_receive_his where purpose_or_action_name like CONCAT('%',#{name},'%') and pid = 0
    </select>

    <select id="queryActionByInput" resultType="com.qu.modules.web.entity.DrugReceiveHis">
        select * from drug_receive_his where purpose_or_action_name like CONCAT('%',#{name},'%') and pid != 0
    </select>

    <select id="queryByPid" resultType="com.qu.modules.web.entity.DrugReceiveHis">
        select * from drug_receive_his where purpose_or_action_id = #{id} and pid != 0
    </select>

    <select id="queryPurposeOrActionIdById" resultType="java.lang.Integer">
        select purpose_or_action_id from drug_receive_his where id = #{id}
    </select>

</mapper>