<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qu.modules.web.mapper.QoptionlibMapper">

    <update id="deleteOptionBySubId" parameterType="java.lang.Integer">
        update qoptionlib set del = 1 where sub_id = #{subId}
    </update>

    <select id="selectQoptionlibBySubId" parameterType="java.lang.Integer" resultType="com.qu.modules.web.entity.Qoptionlib">
        select * from qoptionlib where sub_id = #{subId} and del = 0  order by op_order
    </select>
</mapper>