<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qu.modules.web.mapper.QSingleDiseaseTakeMapper">
    <!--<select id="singleDiseaseList" parameterType="java.lang.String" resultType="com.qu.modules.web.vo.QSingleDiseaseTakeVo">
        SELECT icd_name disease,count(1) count,icon  FROM `q_single_disease_take`
        <where>
            <if test="name !=null and name !=''">
                and icd_name like CONCAT('%',#{name},'%')
            </if>
        </where>
        group by icd_name  order by id
    </select>-->

    <sql id="reportStatisticCount">
        SELECT dynamic_table_name dynamicTableName,question_id questionId,
        <if test="deptShow !=null and deptShow==1 ">
            tqms_dept_name dept,
        </if>
        count(1) inHospitalCount
        FROM `q_single_disease_take`
        <where>
            <if test="categoryId!=null and categoryId!=''">
                and category_id =#{categoryId}
            </if>
            <if test="dateType!=null">
                and in_time >=STR_TO_DATE(#{dateStart},'%Y-%m-%d %H:%i:%S')
                and in_time &lt;STR_TO_DATE(#{dateEnd},'%Y-%m-%d %H:%i:%S')
            </if>
            <if test="dept!=null and dept.length > 0">
                and tqms_dept in
                <foreach close=")" collection="dept" item="listItem" open="(" separator=",">
                    #{listItem}
                </foreach>
            </if>
        </where>
         group by dynamicTableName
        <if test="deptShow !=null and deptShow==1 ">
            ,tqms_dept_name
        </if>
    </sql>

    <select id="allSingleDiseaseReportStatisticCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(1) from (
        <include refid="reportStatisticCount"></include>
        ) t
    </select>


    <!--<select id="allSingleDiseaseReportStatistic" parameterType="java.lang.String" resultType="map">-->
    <select id="allSingleDiseaseReportStatistic" parameterType="java.lang.String" resultType="com.qu.modules.web.vo.QSingleDiseaseTakeReportStatisticVo">
    <include refid="reportStatisticCount"></include> limit #{startRow},#{pageSize}
    </select>

    <select id="countSql" parameterType="map" resultType="java.lang.Integer">
        SELECT count(1) FROM `q_single_disease_take`
        <where>
            <if test="categoryId!=null and categoryId!=''">
                and category_id =#{categoryId}
            </if>
            <if test="dept!=null and dept!=''">
                and tqms_dept =#{dept}
            </if>
            <if test="status!=null">
                and status=#{status}
            </if>
            <if test="dateType!=null  and dateType!=''">
                and in_time >=STR_TO_DATE(#{dateStart},'%Y-%m-%d %H:%i:%S')
                and in_time &lt;STR_TO_DATE(#{dateEnd},'%Y-%m-%d %H:%i:%S')
            </if>
        </where>
    </select>


    <select id="countAvgSql" parameterType="map" resultType="map">
        /*round(AVG(drug_fee),2)*/
        select
            IFNULL(avg(in_hospital_day),0) avgInHospitalDay,
            IFNULL(CAST(AVG(in_hospital_fee) AS DECIMAL(10,2)),0) avgInHospitalFee,
--              IFNULL(AVG(in_hospital_fee),0) avgInHospitalFee,
            IFNULL(CAST(AVG(drug_fee) AS DECIMAL(10,2)),0) avgDrugFee,
--              IFNULL(AVG(drug_fee),0) avgDrugFee,
            IFNULL(CAST(AVG(operation_treatment_fee) AS DECIMAL(10,2)),0) avgOperationTreatmentFee,
--              IFNULL(AVG(operation_treatment_fee),0) avgOperationTreatmentFee,
            IFNULL(CAST(AVG(disposable_consumable) AS DECIMAL(10,2)),0) avgDisposableConsumable
--              IFNULL(AVG(disposable_consumable),0) avgDisposableConsumable
        FROM `q_single_disease_take`
        <where>
            <if test="categoryId!=null and categoryId!=''">
                and category_id =#{categoryId}
            </if>
            <if test="dept!=null and dept!=''">
                and tqms_dept =#{dept}
            </if>
            <if test="dateType!=null  and dateType!=''">
                and in_time >=STR_TO_DATE(#{dateStart},'%Y-%m-%d %H:%i:%S')
                and in_time &lt;STR_TO_DATE(#{dateEnd},'%Y-%m-%d %H:%i:%S')
            </if>
        </where>
    </select>

    <select id="selectDept" parameterType="map" resultType="com.qu.modules.web.vo.QSingleDiseaseTakeReportStatisticDeptVo">
        select tqms_dept departmentId,tqms_dept_name department from q_single_disease_take where tqms_dept is not null and tqms_dept_name is not null  group by tqms_dept,tqms_dept_name
    </select>

    <select id="allSingleDiseaseReportStatisticOverviewLine"
            parameterType="map"
            resultType="com.qu.modules.web.vo.QSingleDiseaseTakeReportStatisticOverviewLineVo">
        select
        <if test="dateType!=null and dateType=='yearly'">
            DATE_FORMAT(country_report_time,'%Y') date,
        </if>
        <if test="dateType!=null and dateType=='monthly'">
            DATE_FORMAT(country_report_time,'%Y-%m') date,
        </if>
        <if test="dateType!=null and dateType=='daily'">
            DATE_FORMAT(country_report_time,'%Y-%m-%d') date,
        </if>
        count(1) number from q_single_disease_take
        <where>
            <if test="categoryId!=null and categoryId.length > 0">
                and category_id in
                <foreach close=")" collection="categoryId" item="listItem" open="(" separator=",">
                    #{listItem}
                </foreach>
            </if>
            <if test="status!=null">
                and status=#{status}
            </if>
            <if test="dateType!=null  and dateType!=''">
                and country_report_time >=STR_TO_DATE(#{dateStart},'%Y-%m-%d %H:%i:%S')
                and country_report_time &lt;STR_TO_DATE(#{dateEnd},'%Y-%m-%d %H:%i:%S')
            </if>
            <if test="dept!=null and dept.length > 0">
                and tqms_dept in
                <foreach close=")" collection="dept" item="listItem" open="(" separator=",">
                    #{listItem}
                </foreach>
            </if>
        </where>
        group by
        <if test="dateType!=null and dateType=='yearly'">
            DATE_FORMAT(country_report_time,'%Y')
        </if>
        <if test="dateType!=null and dateType=='monthly'">
            DATE_FORMAT(country_report_time,'%Y-%m')
        </if>
        <if test="dateType!=null and dateType=='daily'">
            DATE_FORMAT(country_report_time,'%Y-%m-%d')
        </if>
    </select>

    <select id="allSingleDiseaseReportStatisticOverviewPie" parameterType="map"
            resultType="com.qu.modules.web.vo.QSingleDiseaseTakeReportStatisticOverviewPieVo">
        select category_name disease,icd_name , count(1) number from q_single_disease_take q
        left join tqms_quota_category t  on q.category_id=t.category_id
        <where>
            <if test="categoryId!=null and categoryId.length > 0">
                and q.category_id in
                <foreach close=")" collection="categoryId" item="listItem" open="(" separator=",">
                    #{listItem}
                </foreach>
            </if>
            <if test="status!=null">
                and status=#{status}
            </if>
            <if test="dateType!=null and dateType=='yearly'">
                and DATE_FORMAT(country_report_time,'%Y') =#{date}
            </if>
            <if test="dateType!=null and dateType=='monthly'">
                and DATE_FORMAT(country_report_time,'%Y-%m') =#{date}
            </if>
            <if test="dateType!=null and dateType=='daily'">
                and DATE_FORMAT(country_report_time,'%Y-%m-%d') =#{date}
            </if>
            <if test="dept!=null and dept.length > 0">
                and tqms_dept in
                <foreach close=")" collection="dept" item="listItem" open="(" separator=",">
                    #{listItem}
                </foreach>
            </if>
        </where>
        group by category_name
    </select>

    <select id="allSingleDiseaseReportStatisticTrend"
            parameterType="map"
            resultType="com.qu.modules.web.vo.QSingleDiseaseTakeReportStatisticTrendVo">
        select
        <if test="dateType!=null and dateType=='yearly'">
            DATE_FORMAT(country_report_time,'%Y') date,
        </if>
        <if test="dateType!=null and dateType=='monthly'">
            DATE_FORMAT(country_report_time,'%Y-%m') date,
        </if>
        <if test="dateType!=null and dateType=='daily'">
            DATE_FORMAT(country_report_time,'%Y-%m-%d') date,
        </if>
        count(1) number from q_single_disease_take
        <where>
            <if test="categoryId!=null and categoryId.length > 0">
                and category_id in
                <foreach close=")" collection="categoryId" item="listItem" open="(" separator=",">
                    #{listItem}
                </foreach>
            </if>
            <if test="status!=null">
                and status=#{status}
            </if>
            <if test="dateType!=null  and dateType!=''">
                and country_report_time >=STR_TO_DATE(#{dateStart},'%Y-%m-%d %H:%i:%S')
                and country_report_time &lt;STR_TO_DATE(#{dateEnd},'%Y-%m-%d %H:%i:%S')
            </if>
            <if test="dept!=null and dept.length > 0">
                and tqms_dept in
                <foreach close=")" collection="dept" item="listItem" open="(" separator=",">
                    #{listItem}
                </foreach>
            </if>
        </where>
        group by
        <if test="dateType!=null and dateType=='yearly'">
            DATE_FORMAT(country_report_time,'%Y')
        </if>
        <if test="dateType!=null and dateType=='monthly'">
            DATE_FORMAT(country_report_time,'%Y-%m')
        </if>
        <if test="dateType!=null and dateType=='daily'">
            DATE_FORMAT(country_report_time,'%Y-%m-%d')
        </if>
    </select>


    <select id="allSingleDiseaseReportStatisticDeptPermutation"
            parameterType="map"
            resultType="com.qu.modules.web.vo.QSingleDiseaseTakeReportStatisticDeptPermutationVo">
        select tqms_dept_name dept,
        count(1) number from q_single_disease_take
        <where>
            <if test="categoryId!=null and categoryId.length > 0">
                and category_id in
                <foreach close=")" collection="categoryId" item="listItem" open="(" separator=",">
                    #{listItem}
                </foreach>
            </if>
            <if test="status!=null">
                and status=#{status}
            </if>
            <if test="dateType!=null  and dateType!=''">
                and country_report_time >=STR_TO_DATE(#{dateStart},'%Y-%m-%d %H:%i:%S')
                and country_report_time &lt;STR_TO_DATE(#{dateEnd},'%Y-%m-%d %H:%i:%S')
            </if>
        </where>
        group by
        tqms_dept_name
        order by number desc
    </select>

    <select id="allSingleDiseaseReportStatisticSummary"
            parameterType="map"
            resultType="com.qu.modules.web.vo.QSingleDiseaseTakeReportStatisticSummaryVo">
        select category_name disease,icd_name , count(1) number from q_single_disease_take q
        left join tqms_quota_category t  on q.category_id=t.category_id
        <where>
            <if test="status!=null">
                and status=#{status}
            </if>
            <if test="dateType!=null and dateType!=''">
                and country_report_time >=STR_TO_DATE(#{dateStart},'%Y-%m-%d %H:%i:%S')
                and country_report_time &lt;STR_TO_DATE(#{dateEnd},'%Y-%m-%d %H:%i:%S')
            </if>
            <if test="dept!=null and dept!=''">
                and tqms_dept =#{dept}
            </if>
        </where>
        group by
        disease
        order by number desc
    </select>

    <select id="workbenchReminderNotWriteCount"
            parameterType="java.lang.String"
            resultType="java.lang.Integer">
        select count(1) from q_single_disease_take where out_time is not null and report_status!=0 and (status = 0 or status = 1)
        <if test="dept!=null and dept!=''">
            and (tqms_dept =#{dept} or answer_deptid=#{dept})
        </if>
    </select>

    <select id="workbenchReminderRejectCount"
            parameterType="java.lang.String"
            resultType="java.lang.Integer">
        select count(1) from q_single_disease_take where out_time is not null and report_status!=0 and (status = 3 or status = 7)
        <if test="dept!=null and dept!=''">
            and (tqms_dept =#{dept} or answer_deptid=#{dept})
        </if>
    </select>

    <update id="updateStatusById" parameterType="com.qu.modules.web.entity.QSingleDiseaseTake">
        update q_single_disease_take set status = #{status}, country_examine_reason = #{countryExamineReason}, country_report_time = #{time} where id = #{id}
    </update>

    <select id="queryErrorQuestion" resultType="com.qu.modules.web.vo.ReportFailureRecordVo" >
        select id, hospital_in_no, patient_name, question_id, question_name, department, country_examine_reason, status, country_report_time, write_time
        from q_single_disease_take where status in (7, 9) order by id asc limit #{pageNo}, #{pageSize}
    </select>

    <select id="queryAnswerJsonByStatus" resultType="com.qu.modules.web.entity.QSingleDiseaseTake">
        select * from q_single_disease_take where status in (7, 9) and id = #{id}
    </select>

    <select id="queryErrorQuestionByName" resultType="com.qu.modules.web.vo.ReportFailureRecordVo" >
        select id, hospital_in_no, patient_name, question_id, question_name, department, country_examine_reason, status, country_report_time, write_time
        from q_single_disease_take where status in (7, 9) and question_name like CONCAT('%',#{name},'%') order by id asc limit #{pageNo}, #{pageSize}
    </select>

    <select id="pageDataCountByName" resultType="java.lang.Integer" >
        select count(*) from q_single_disease_take where status in (7, 9) and question_name like CONCAT('%',#{name},'%')
    </select>

    <select id="pageDataCount" resultType="java.lang.Integer" >
        select count(*) from q_single_disease_take where status in (7, 9)
    </select>

    <select id="singleDiseaseReportCount"
            resultType="java.lang.Integer">
        select count(1) from q_single_disease_take where status = 6
        <if test="start!=null">
            and country_report_time >= #{start}
        </if>
        <if test="end!=null">
            and country_report_time &lt; #{end}
        </if>
        <if test="categoryIdList!=null and categoryIdList.size() > 0">
            and category_id in
            <foreach close=")" collection="categoryIdList" item="listItem" open="(" separator=",">
                #{listItem}
            </foreach>
        </if>
    </select>

</mapper>