<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qu.modules.web.mapper.QsubjectMapper">

    <select id="selectSumCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(1) from qsubject where qu_id = #{quId} and del = 0
    </select>

    <select id="selectSubjectByQuId" parameterType="java.lang.Integer" resultType="com.qu.modules.web.entity.Qsubject">
        select * from qsubject where qu_id = #{quId} and del = 0 order by order_num
    </select>

    <select id="selectIdByGroupIdsLike" parameterType="java.lang.Integer" resultType="com.qu.modules.web.entity.Qsubject">
        select * from qsubject where group_ids like  CONCAT('%',#{subId},'%')  and qu_id = (select qu_id from qsubject where id = #{subId}) limit 1
    </select>

    <select id="selectColumnNameCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) from qsubject where qu_id = #{quId} and column_name = #{columnName} and del = #{del}
    </select>

    <select id="selectGroupQsubjectByQuId" parameterType="java.util.Map" resultType="com.qu.modules.web.entity.Qsubject">
        select * from qsubject where qu_id = #{quId} and sub_type = '8' <![CDATA[ and id <> #{subId} ]]>
    </select>

    <select id="selectPersonSubjectByQuId" parameterType="java.lang.Integer" resultType="com.qu.modules.web.entity.Qsubject">
        select * from qsubject where qu_id = #{quId} and del = 0 and grab_type = 'person' order by order_num
    </select>

    <select id="selectNextOrderNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select order_num from qsubject where id = #{upSubId} and del = 0 limit 1
    </select>

    <update id="updateNextOrderNum" parameterType="java.util.Map">
        <![CDATA[ update qsubject set order_num=order_num+1 where order_num >= #{nextOrderNum} and qu_id = #{quId} and id<> #{subId} and del = 0 ]]>
    </update>

    <select id="selectGroupQsubject" parameterType="java.util.Map" resultType="com.qu.modules.web.entity.Qsubject">
        select * from qsubject where  group_ids like  CONCAT('%',#{subId},'%')  and qu_id = #{quId}  and del = 0 limit 1
    </select>

    <select id="querySubjectNmae" parameterType="java.lang.Integer" resultType="java.lang.String">
        select sub_name from qsubject where id = #{subjectId} and del = 0
    </select>

    <select id="querySubjectByInput" resultType="com.qu.modules.web.entity.Qsubject">
        select * from qsubject where sub_name like CONCAT('%',#{name},'%') and del = 0
    </select>

    <select id="querySubjectByQuestionId" resultType="com.qu.modules.web.entity.Qsubject">
        select * from qsubject where qu_id = #{id} and del = 0 and sub_type in ("1", "2", "4", "5", "6") and id not in (select subject_id from drug_rules_subject where del = 0)
    </select>

    <select id="querySubjectById" resultType="com.qu.modules.web.entity.Qsubject">
        select * from qsubject where id = #{id} and del = 0
    </select>

    <select id="querySubNameByQuidAndColumnName" resultType="java.lang.String">
        select sub_name from qsubject where qu_id = #{quid} and column_name = #{columnName} and del = 0
    </select>

</mapper>