<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qu.modules.web.mapper.QsubjectlibMapper">
    <select id="queryPageListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) from  qsubjectlib
        where del = 0
        <if test="subName !=null and subName !=''">
            and sub_name like CONCAT('%',#{subName},'%')
        </if>
        <if test="remark !=null and remark !=''">
            and remark like CONCAT('%',#{remark},'%')
        </if>
    </select>

    <select id="queryPageList" parameterType="java.util.Map" resultType="com.qu.modules.web.entity.Qsubjectlib">
        select * from  qsubjectlib
        where del = 0
        <if test="subName !=null and subName !=''">
            and sub_name like CONCAT('%',#{subName},'%')
        </if>
        <if test="remark !=null and remark !=''">
            and remark like CONCAT('%',#{remark},'%')
        </if>
        order by create_time desc
        limit #{startRow},#{pageSize}
    </select>
</mapper>